---
import CardTeam from "./CardTeam.astro";
const { teamA, teamB } = Astro.props;

const BASE_URL = import.meta.env.FINAL_BASE_URL;

const resResults = await fetch(
  `${BASE_URL}/api/statistics/vs?teamA=${teamA.id}&teamB=${teamB.id}`
);
const resultsData = await resResults.json();
const { data: results } = resultsData;
const win = results.winsTeamA > results.winsTeamB ? teamA : teamB;
---

<section class="flex-1 container mx-auto px-4 py-8 md:py-16">
  <div class="grid grid-cols-2 gap-3 md:gap-8 max-w-6xl mx-auto">
    <CardTeam
      team={teamA}
      wins={results.winsTeamA}
      streak={results.streakTeamA}
      win={win}
      urlTeam={teamA.urlPhoto}
      title="Team A"
    />
    <CardTeam
      team={teamB}
      wins={results.winsTeamB}
      streak={results.streakTeamB}
      win={win}
      urlTeam={teamB.urlPhoto}
      title="Team B"
    />
    <div class="text-center col-span-2 mt-4 flex justify-center">
      <p class="bg-card px-4 py-2 rounded-lg text-muted-foreground text-sm">
        Total de partidos jugados: <span class="text-white font-bold">
          {results.totalMatches}
        </span>
      </p>
    </div>
  </div>
</section>
