---
const { name, urlPhoto, strength, weakness, position } = Astro.props;
---

<div
  class="bg-card p-2 w-full rounded-lg flex flex-row items-center text-center gap-5 border border-white/10"
>
  <div>
    <div class="w-20 h-20 rounded-full overflow-hidden">
      <img src={urlPhoto} alt="" />
    </div>
  </div>
  <div class="text-left text-sm flex flex-col">
    <p class="text-lg">{name}</p>
    <p class="text-muted-foreground">{position}</p>
    <p><span class="text-green-500">Fortaleza: </span> {strength}</p>
    <p><span class="text-red-500">Debilidad: </span> {weakness}</p>
  </div>
</div>
