---
import BackButton from "../components/BackButton.astro";
import CardPlayer from "../components/CardPlayer.astro";
import Layout from "../layouts/Layout.astro";
import { getTeams } from "../utils/teamStore";

export const prerender = false;

const { searchParams } = new URL(Astro.request.url);
const teamAId = searchParams.get("teamA");
const teamBId = searchParams.get("teamB");

interface Player {
  id: number;
  name: string;
  urlPhoto: string;
  strength: string;
  weakness: string;
}

interface Team {
  id: number;
  leftSide: Player;
  rightSide: Player;
  urlPhoto: string;
}
let teams: Team[] = [];
try {
  teams = await getTeams(teamAId, teamBId);
} catch (error) {
  console.log(error);
  return Astro.redirect("/error");
}
---

<Layout>
  <div class="flex flex-col gap-4 mt-5 min-h-screen">
    <div class="flex flex-col text-center w-full p-5">
      <h1 class="sm:text-3xl text-2xl font-medium title-font">Jugadores</h1>
      <p class="text-sm text-white/70">Conozca a los atletas</p>
    </div>
    {
      teams.map((m) => {
        return (
          <div class="flex flex-col gap-4 justify-center items-center px-2">
            <CardPlayer
              name={
                m.leftSide.name.charAt(0).toUpperCase() +
                m.leftSide.name.slice(1)
              }
              urlPhoto={m.leftSide.urlPhoto}
              strength={m.leftSide.strength}
              weakness={m.leftSide.weakness}
              position="Reves"
            />

            <CardPlayer
              name={
                m.rightSide.name.charAt(0).toUpperCase() +
                m.rightSide.name.slice(1)
              }
              urlPhoto={m.rightSide.urlPhoto}
              strength={m.rightSide.strength}
              weakness={m.rightSide.weakness}
              position="Drive"
            />
          </div>
        );
      })
    }
  </div>
  <BackButton />
</Layout>
