---
import Layout from "../layouts/Layout.astro";
import FormCreateMatch from "../components/react/FormCreateMatch";
import FormFinishMatch from "../components/react/FormFinishMatch.jsx";

export const prerender = false;
const tokenCookie = Astro.cookies.get("token") || null;
if (!tokenCookie || !tokenCookie.value) {
  return Astro.redirect("/login");
}
const BASE_URL = import.meta.env.FINAL_BASE_URL;

const res = await fetch(`${BASE_URL}/api/auth/validate`, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${tokenCookie.value}`,
  },
});
if (!res.ok) {
  console.log("Token no válido, redirigiendo a login");
  return Astro.redirect("/login");
}

const lastMatch = await fetch(`${BASE_URL}/api/matches?teamA=1&teamB=2`, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${tokenCookie.value}`,
  },
});
const lastMatchData = await lastMatch.json();
const pendingMatch = lastMatchData.data.content[0];
console.log(pendingMatch);
---

<Layout>
  <div class="flex flex-col text-center w-full p-5">
    <h1 class="sm:text-3xl text-2xl font-medium title-font">Panel</h1>
    <p class="text-sm text-white/70">Administre los encuentros</p>
  </div>
  <FormCreateMatch client:load BASE_URL={BASE_URL} />
  <div class="flex flex-col gap-6 mt-10 max-w-md mx-auto items-center">
    {
      pendingMatch.state == "PENDING" ? (
        <FormFinishMatch
          client:load
          pendingMatch={pendingMatch}
          BASE_URL={BASE_URL}
        />
      ) : (
        <p class="text-center mt-4 text-sm text-muted-foreground">
          No hay partidos creados aún.
        </p>
      )
    }
  </div>
  <div class="w-full flex justify-center mt-5">
    <button id="logOutBTN" class="shadow-xs shadow-white/10 p-2 rounded-2xl"
      >Cerrar sesion
    </button>
  </div>
  <script>
    const logOutBTN = document.getElementById("logOutBTN") as HTMLButtonElement;
    logOutBTN.addEventListener("click", logOut);
    function logOut() {
      document.cookie =
        "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      window.location.href = "/login";
    }
  </script>
</Layout>
