---
import BoxTeam from "../components/BoxTeam.astro";
import Layout from "../layouts/Layout.astro";
import BoxMenu from "../components/BoxMenu.astro";
import { getTeams } from "../utils/teamStore";

const teamAid = 1;
const teamBid = 2;
const BASE_URL = import.meta.env.FINAL_BASE_URL;
let teamA, teamB;
let lastMatch;
const getDay = (dateString: string) => {
  const date = new Date(dateString + "T00:00:00-03:00");
  return date.toLocaleDateString("es-AR", {
    weekday: "short",
    month: "short",
    day: "numeric",
    timeZone: "America/Argentina/Buenos_Aires",
  });
};

try {
  const teams = await getTeams(BASE_URL,teamAid, teamBid);
  teamA = teams[0];
  teamB = teams[1];
  const resMatches = await fetch(
    `${BASE_URL}/api/matches?teamA=${teamAid}&teamB=${teamBid}&page=0&size=1`
  );
  const matchesData = await resMatches.json();
  if(matchesData.data.content.length == 0) {
    return Astro.redirect("/error");
  }
  lastMatch = matchesData.data.content[0];
} catch (error) {
  return Astro.redirect("/error");
}
---

<Layout>
  <div class="mt-5 max-w-4xl mx-auto flex flex-col items-center text-center">
    <h2 class="bg-orange-300/20 rounded-t-2xl w-1/2 text-xl px-4 py-1">
      Proximo partido:
    </h2>
    <div class="flex justify-center w-full px-2">
      <div
        class="bg-orange-300/5 border-2 border-orange-300/20 p-5 rounded-2xl flex text-sm justify-center gap-10 md:gap-20 w-full"
      >
         {lastMatch.state == "PENDING" ? (
        <p>{getDay(lastMatch.date)}</p>
        <p>{lastMatch.location.name.charAt(0).toUpperCase() + lastMatch.location.name.slice(1)}</p>
        <p>{lastMatch.time.slice(0, 5)}hs</p>
        ) : (
          <p>Proximamente...</p>
        )}
      </div>
    </div>
  </div>
  <BoxTeam teamA={teamA} teamB={teamB} />
  <BoxMenu teamA={teamA} teamB={teamB} />
</Layout>
